<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

       <!-- 在mybatis-generator.xml文件中配置各属性要按以下节点顺序配置 "context" 的内容必须匹配
       "(property*,plugin*,commentGenerator?,(connectionFactory|jdbcConnection),javaTypeResolver?,
       javaModelGenerator,sqlMapGenerator?,javaClientGenerator?,table+)"
        -->
<generatorConfiguration>
    <!-- 可以用于加载配置项或者配置文件，在整个配置文件中就可以使用${propertyKey}的方式来引用配置项
    resource：配置资源加载地址，使用resource，MBG从classpath开始找，比如com/myproject/generatorConfig.properties
    url：配置资源加载地质，使用URL的方式，比如file:///C:/myfolder/generatorConfig.properties.
    注意，两个属性只能选址一个;

    另外，如果使用了mybatis-generator-maven-plugin，那么在pom.xml中定义的properties都可以直接在generatorConfig.xml中使用
<properties resource="" url="" />
 -->
    <!-- 在MBG工作的时候，需要额外加载的依赖包 location属性指明加载jar/zip包的全路径
   <classPathEntry location="/Program Files/IBM/SQLLIB/java/db2java.zip" />-->

    <!--
    context:生成一组对象的环境
    id:必选，上下文id，用于在生成错误时提示
    defaultModelType:指定生成对象的样式
        1，conditional：类似hierarchical；
        2，flat：所有内容（主键，blob）等全部生成在一个对象中；
        3，hierarchical：主键生成一个XXKey对象(key class)，Blob等单独生成一个对象，其他简单属性在一个对象中(record class)
    targetRuntime:
        1，MyBatis3：默认的值，生成基于MyBatis3.x以上版本的内容，包括XXXBySample；
        2，MyBatis3Simple：类似MyBatis3，只是不生成XXXBySample；
    introspectedColumnImpl：类全限定名，用于扩展MBG
-->
    <context id="DB2Tables" targetRuntime="MyBatis3">
        <!--自动识别数据库的关键字,默认是false,如果设置为true,根据SqlReserverdWords中定义的关键字列表
          一般保留默认值,遇到数据库关键字(Java关键字),使用columnoverride覆盖-->
       <property name="autoDelimitKeyWords" value="false"/>
        <!--生成jajva文件的编码-->
        <property name="javaFileEncoding" value="UTF-8"/>
        <!--格式化java代码-->
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <!--格式化xml文件-->
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
        <!--beginningDelimiter和endingDelimiter指明数据库的用于标记数据库对象名等的符号,比如oracle就是双引号,mysql默认的是单引号-->
        <property name="beginningDelimiter" value="'"/>
        <property name="endingDelimiter" value="'"/>
    <commentGenerator>
            <property name="suppressAllComments" value="false"/><!--是否取消1注释-->
            <property name="suppressDate" value="true"/><!--是否生成注释时间戳-->
        </commentGenerator>


        <!--数据库连接-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/miaosha?serverTimezone=GMT%2B8&amp;characterEncoding=UTF-8"
                        userId="root"
                        password="root">
            <!--解决mybatis generator无法识别主键问题-->
            <property name="useInformationSchema" value="true"/>
            <!--设置可以获取remarks信息-->
            <property name="remarks" value="true"/>
        </jdbcConnection>
        <!--java类型解析器,用于根据数据库列信息计算java类型,-->
        <javaTypeResolver>
            <!--此属性用于指定Mybatis Generator是否应强制对Decimal和Number字段使用java.math.BigDecimal,而不是在肯时替换整数类型
              false(默认值),默认java类型解析器将尝试通过替换Integral类型,来使JDBC Decimal和Number类型更易于使用
               scale>0;length>18：使用BigDecimal;
                scale=0;length[10,18]：使用Long；
                scale=0;length[5,9]：使用Integer；
                scale=0;length<5：使用Short；
                true:如果数据库列的数据类型是Decimal或Number,java类型解析器将始终使用java.math.BigDecimal-->
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!--生成dataObject类存放位置-->
        <javaModelGenerator targetPackage="com.miaosha.entity" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!--生成映射文件存放位置-->
        <sqlMapGenerator targetPackage="mapping" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--生成Dao类的存放位置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.miaosha.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!--生成对应表及类名-->
        <table tableName="user_info" domainObjectName="UserInfo" enableSelectByExample="false"
        enableDeleteByExample="false" enableCountByExample="false" enableUpdateByExample="false"
        selectByExampleQueryId="false">
           <!-- <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ID" sqlStatement="MySql" identity="true"/>-->
        </table>
        <table tableName="user_password" domainObjectName="UserPassword" enableSelectByExample="false"
               enableDeleteByExample="false" enableCountByExample="false" enableUpdateByExample="false"
               selectByExampleQueryId="false">
        </table>
    </context>
</generatorConfiguration>
